ThinClient/Service References/DataProvider/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataProvider_GetLabels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabels" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetLabels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabelsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetAdjacentNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdjacentNodes" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetAdjacentNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdjacentNodesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataProvider">
    <wsdl:operation name="GetLabels">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetLabels" message="tns:IDataProvider_GetLabels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetLabelsResponse" message="tns:IDataProvider_GetLabels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdjacentNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetAdjacentNodes" message="tns:IDataProvider_GetAdjacentNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetAdjacentNodesResponse" message="tns:IDataProvider_GetAdjacentNodes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataProvider" type="tns:IDataProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLabels">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetLabels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdjacentNodes">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetAdjacentNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataProvider">
    <wsdl:port name="BasicHttpBinding_IDataProvider" binding="tns:BasicHttpBinding_IDataProvider">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DataProvider/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>